<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406293594077-e6sit8u04jt9ftu85imedm9o2f74bvh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406293594077-e6sit8u04jt9ftu85imedm9o2f74bvh8</string>
	<key>API_KEY</key>
	<string>AIzaSyDBv82clugRxyeBNeLl5sHW9pcTgnKeFus</string>
	<key>GCM_SENDER_ID</key>
	<string>406293594077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hnyoung.MakanLagi</string>
	<key>PROJECT_ID</key>
	<string>makanlagi-f9b8c</string>
	<key>STORAGE_BUCKET</key>
	<string>makanlagi-f9b8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406293594077:ios:398a281aa30d4157d34034</string>
</dict>
</plist>